html,body{
	font-size: 16px;
}
.support {
	width:1200px;
	margin: auto;
}
.support2 {
	margin-bottom:50px;
	height:450px;
}
.support p{
	font-size:20px;
	margin-top:51px;
}
.special{
	width: 165px;
	height: 58px;
	border-radius: 6px;
	border: solid 1px #e7e7e7;	
	margin-right:26px;
	margin-top:31px;
}
.fastTitle {
	font-size: 25px;
	color: #fbfbfb;
	line-height: 25px;
	margin: 30px 0;
}
.teltext,.teltext1{
	color:#fff;
	margin-top:30px;
}
.teltext1{
	margin-top:68px;
}
.next{
	height:54px;
	margin:0px 30px 100px 50px;
}
.next button{
	width: 251px;
	height: 54px;
	background-color: #f83f4d;
	border-radius: 3px;
	color:#fff;
	font-size:20px;
}
