@charset "UTF-8";

/* 用来取消默认间距 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,button,textarea,input {
  margin: 0;
  padding: 0;
}
fieldset, img, input, button, textarea {
  border: none;
  outline: none;
}

ul, ol {
  list-style: none;
}

input {
  font-family: "SimSun", "宋体";
}
select, input, textarea {

  font-size: 12px;
  margin: 0;
}

textarea {
  resize: none;
}

img {
  border: 0;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

body {
  font: 12px/150% Microsoft YaHei, Arial, Verdana, "SimSun";
  color: #666;
}

/*清除浮动最现代、最流行、最简单的方式*/
.clearfix::before, .clearfix::after {
  content: "";
  display: block;
}

.clearfix::after {
  clear: both;
}

/* 为了兼容IE8及以前的浏览器 */
.clearfix {
  *zoom: 1;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #f83f4d;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}

s, i, em {
  font-style: normal;
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}
.am{
	vertical-align: middle;
}
.ar {
  text-align: right;
}
.pr{
	position: relative;
}
.df{
	display: flex;
}
/* 居中 */

.jz {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 仅垂直居中 */

.cz {
  display: flex;
  justify-content: center;
}

/* 仅水平居中 */

.sp {
  display: flex;
  align-items: center;
}

/* 横排显示 */

.row {
  display: flex;
  flex-direction: row;
}

/* 纵排显示 */

.col {
  display: flex;
  flex-direction: column;
}

/* 两端对齐 */

.bt {
  display: flex;
  justify-content: space-between;
}
/*末端对齐*/
.end {
  display: flex;
  justify-content:flex-end;
}
/* 环形布局 */

.wrap {
  display: flex;
  flex-wrap: wrap;
}
/*版心*/
.w {
  width: 1200px;
  margin: 0 auto;
}
@font-face {
  font-family: 'iconfont';
  src: url('iconfont/iconfont.eot');
  src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont/iconfont.woff') format('woff'),
  url('iconfont/iconfont.ttf') format('truetype'),
  url('iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*header样式*/
header {
	height: 90px;
}
.logoPic {
	width: 192px;
	height: 90px;
	margin-right: 50px;
	margin-left: 20px;
}
.logoPic img {
	width: 100%;
	height: 60px;
}
nav {
	height: 100%;
	margin-right: 50px;
}
nav a {
	font-size: 17px;
	margin-right: 38px;
	font-family: MicrosoftYaHei;
	color: #2f2e2e;
	line-height: 90px;
}

nav .query{
	width:100px;
	height:34px;
	background-color: #f83f4d;
	border-radius: 15px;	
color:#fff;
}
.all{
	margin-right: 38px;
	font-size: 17px;
}
.android{
	width:110px;
	height:280px;
	position: absolute;
	top:64px;
	left:-22px;
	z-index:99;
		display:none;
}

.android a{
	line-height: 40px;
	width:110px;
	border: solid 1px #ddd;
	background-color:#fff;
	color: #2f2e2e;

}
.android a:hover{
	background-color: #f83f4d;
	color: #fff;
}
.all:hover .android{
	display:block;
}
nav p:hover .public{
display:block;
}

.public{
	width:151;
	height:199px;
	position: absolute;
	top:65px;
	left:-22px;
	z-index:99;
	display:none;
}
.telephone {
	width: 208px;
	height: 90px;
}
.telephone img {
	width: 100%;
	height: 42px;
}
/*进度条*/
.progressBar{
	height:54px;
	margin-bottom:50px;
}
.progressBar img{
	width:100%;
	height:100%;
}
/*footer样式*/
footer {
	width: 100%;
	height: 270px;
	background-color: #353235;
	opacity: 0.78;
}

.footerTop {
	width: 100%;
	height: 168px;
	border-bottom: 1px solid #c5c5c5;
}

.ServiceCentre {
	margin-left: 50px;
	margin-right: 40px;
	font-size: 14px;
	color: #c5c5c5;
	line-height: 21px;
}

.ServiceCentre p {
	font-size: 18px;
	color: #fff;
	margin: 30px 0 10px;
}

.ServiceCentre a {
	color: #c5c5c5;
	line-height:28px;
}
.ServiceCentre a:hover {
	color: #f83f4d;
}
.ewm {
	width: 200px;
	margin-left: 70px;
}

.ewm img {
	margin-top: 30px;
	margin-right: 20px;
	height: 124px;
}

.copyright {
	font-size: 14px;
	color: #c5c5c5;
	margin-top: 30px;
}
