html,body{
	font-size: 16px;
	line-height:34px;
}
.banner{
	height:300px;
	margin-bottom:10px;
}
.banner img{
	height:100%;
	width:100%;
}
.featuretxt{
	margin-bottom:50px;
}
.feature{
	margin-top:20px;
}
.ad{
	width:231px;
	height:306px;
	position: absolute;
	bottom:100px;
	right:0;
}
